@using SportsStore.Domain.Entities;
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";    
}

@foreach (Product p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { Page = x }))
</div>