﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*MYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY*/
BODY
{
 font-family: Cambria, Georgia, "Times New Roman";
 margin: 0;
}
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A
{
 font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header
{
 background-color: #444;
 border-bottom: 2px solid #111;
 color: White;
}
 DIV#header DIV.title
 {
 font-size: 2em;
 padding: .6em;
 }
DIV#content
{
 border-left: 2px solid gray;
 margin-left: 9em;
 padding: 1em;
}
DIV#categories
{
 float: left;
 width: 8em;
 padding: .3em;
}
DIV.item
{
 border-top: 1px dotted gray;
 padding-top: .7em;
 margin-bottom: .7em;
}
 DIV.item:first-child
 {
 border-top: none;
 padding-top: 0;
 }
 DIV.item H3
 {
 font-size: 1.3em;
 margin: 0 0 .25em 0;
 }
 DIV.item H4
 {
 font-size: 1.1em;
 margin: .4em 0 0 0;
 }
DIV.pager
{
 text-align: right;
 border-top: 2px solid silver;
 padding: .5em 0 0 0;
 margin-top: 1em;
}
 DIV.pager A
 {
 font-size: 1.1em;
 color: #666;
 text-decoration: none;
 padding: 0 .4em 0 .4em;
 }
 DIV.pager A:hover
 {
 background-color: Silver;
 }
 DIV.pager A.selected
 {
 background-color: #353535;
 color: White;
 }